.add-recipe-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #a76c2848;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;

  h2 {
    text-align: center;
    color: #333;
  }
  form {
    .form-items {
      margin-bottom: 15px;
    }
    label {
      display: block;
      margin-bottom: 5px;
      color: #555;
    }
    input,
    textarea {
      width: 100%;
      height: 40px;
      border: 1px solid #a76c2848;
      border-radius: 4px;
      font-size: 16px;
      padding-left: 10px;
    }

    textarea {
      height: 100px;
    }

    .submit {
      margin: auto;
      display: block;
      width: 23%;
      padding: 10px;
      background: #a76c28 !important;
      border: none;
      border-radius: 4px;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
    }
    .submit:hover {
      background-color: #fff;
    }
  }
}
